@model Bloggie.Web.Models.Domain.BlogPost

@{
    ViewData["Title"] = Model.PageTitle;
}

<div class="container my-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <img src="@Model.FeaturedImageUrl" alt="@Model.Heading" class="img-fluid mb-4" style="width:100%;" />
            <h1>@Model.Heading</h1>
            <div class="d-flex justify-content-between mb-4">
                <span>By @Model.Author</span>
                <span>Published on @Model.PublishedDate.ToShortDateString()</span>
            </div>
            <div class="mb-4">
                @foreach (var tag in Model.Tags)
                {
                            <span class="badge bg-secondary me-2">@tag.Name</span>
                }
            </div>
            <div class="blog-content">
                @Html.Raw(Model.Content)
            </div>
            <div class="mt-4">
                <a asp-action="Add" class="btn btn-primary">Go back</a>
            </div>
        </div>
    </div>
</div>