@model Bloggie.Web.Models.ViewModels.HomeviewModel
@{}


<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Bloggie 
            </h1>
            <p class="lead">
                Embark on a gastronomic odyssey that transcends borders and cultures with our food and travel blog. Join us as we explore the vibrant tapestry of flavors that define a region's culinary identity. From bustling city markets to quaint rural villages, we unravel the stories woven into each dish, unveiling the traditions, techniques, and passion that breathe life into these edible masterpieces. More than just a food blog, we invite you on a journey of discovery, where every bite is a gateway to understanding the rich history, diverse landscapes, and warm hospitality that make each destination truly remarkable. Indulge your senses and ignite your wanderlust as we savor the world, one delectable morsel at a time.
            </p>
        </div>


        <div class="col-12 col-lg-6">
            <img src="https://images.pexels.com/photos/25857329/pexels-photo-25857329/free-photo-of-ngh-thu-t-m-u-n-i-th-tr-ng.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" 
                 alt="Tralvel blog" 
                 class="d-block mx-lg-auto img-fluid " width="300"/>
        </div>

    </div>
</div>

<div class="container mb-3">
    <div class="row justify-content-center">
        <div class="col-6">
            @if(Model!=null&&Model.Tags.Any())
            {
                foreach(var tag in Model.Tags)
                {
                    <span class="badge bg-dark me-1">
                        @tag.Name
                    </span>
                }
            }
        </div>

    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            @if(Model!=null&&Model.BlogPosts.Any())
            {
                foreach(var blogPost in Model.BlogPosts)
                {
                    <div class="mb-5 bg-light box-shadow p-3" style="border-radius: 2%;">
                        <img src="@blogPost.FeaturedImageUrl" alt="@blogPost.Heading" class="mb-2 d-block img-fluid" width="100%"/>
                        <h2 class="mb-2">@blogPost.Heading</h2>
                        <p class="mb-2">
                            Author: @blogPost.Author
                            <br/>
                            Published Date: @blogPost.PublishedDate.ToShortDateString()
                        </p>

                        <p class="mb-3">
                            @foreach (var tag in blogPost.Tags)
                            {
                                <span class="badge bg-secondary">@tag.Name</span>
                            }
                        </p>
                        <p class="mb-5">@blogPost.ShortDescription</p>

                        <a class="btn btn-dark" 
                        asp-area=""
                        asp-controller="Blogs"
                        asp-action="Index"
                        asp-route-urlHandle="@blogPost.UrlHandle"
                        >Read More</a>
                    </div>
                }
            }
        </div>

    </div>
</div>